@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

body{
 font-family: 'Nanum Gothic', sans-serif;
 font-size: 13px;
 color:#333;
 background-color: #fff;
}

a{color:#333;
 text-decoration: none;}

 /* 체크박스 숨기기 */
#toggle{
    display:none;
  }
  
  /* 닫기 아이콘 숨기기 */
  .close_btn{
    display:none;
  }
  
 


  /*체크박스 숨기기*/
input[type=checkbox]{display: none;}
.history h2, .product h2, .gallery h2, .new_bottom h2{display:none;}